body{
  margin: 0px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

h1{
  width: 20%;
  margin: 0 auto 0 auto;
 
}
  
  


.top-container{
  background-color: #FFBCBC;
  position: relative;
  padding-top: 100px;
  
}

.middle-container{
 
}

.bottom-container{
  
}

.top-cloud{
  position: absolute;
  right: 400px;
  top: 50px;

}

.bottom-cloud{
  position: absolute;
  top: 200px;

}