

h1{
  color: red;
  font-size: 100px;
}
/* Tag Selectors
img{
  background-color: grey;
}
*/

/* Class Selectors */
.bacon{
  background-color: grey;
}

.broccoli{
  background-color: hotpink;
}
/* Id Selectors */

#heading{
  color: indigo;
}